/*
box-sizing property changes whether a margin is built in. 
the default is set to content-box, which keeps a margin of 8px
resetting 
*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    margin: 0;    
}

/* border is an example of shorthand properties, 
where they can be called in quick succession with a space as a separator. 
border-style: solid;
border-color: black;
border-width: 5px;
*/

#product-overview {
    background: red;
    padding: 20px;
    border: 5px solid black;
    margin: 20px;
    width: 100%;
    height: 528px;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

h1 {
    font-family: 'Manrope', sans-serif;
}

.section-title {
    color: #2ddf5c;
}

.main-header {
    width: 100%;
    background: #2ddf5c;
    padding: 8px 16px
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 3px 0;
}

/*this is a grouping*/
.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
}